#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <1000>;
};

/ {
    behaviors{
        lpm : long_press_mod{
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <1000>;
            quick-tap-ms = <-1>;
            bindings = <&kp> , <&none>;
        };
    };
    keymap {
            compatible = "zmk,keymap";

            default_layer {
                bindings = <
                    &kp C_VOLUME_DOWN
                    &kp C_VOLUME_UP
                    &kp C_MUTE
                    &kp F14
                    &kp F15
                    &kp F16
                    &kp F17
                    &lpm LA(F4) A
                    &kp F19
                    >;
            };
        };
};