#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <1000>;
};

/ {
    behaviors{
        lpm: long_press_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&none>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;   
        };
    };

    keymap {
            compatible = "zmk,keymap";

            default_layer {
                bindings = <
                    &kp C_VOLUME_DOWN
                    &kp C_VOLUME_UP
                    &kp C_MUTE
                    &kp F14
                    &kp F15
                    &kp F16
                    &kp F17
                    &lpm LA(F4) F18
                    &kp F19
                    >;
            };
        };
};